@import '~@angular/material/theming';
@mixin home-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    kps-home {
        .sidenav-container {
            height: 100%;
            .sidenav {
                width: 200px;
                background-color: mat-color($accent);
                border-right: none;
                .mat-toolbar {
                    background-color: mat-color($accent);
                }
                .mat-nav-list {
                    padding-top: 0;
                }
            }
        }
        .mat-toolbar {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: mat-color($primary, darker);
            color: #fff;
        }
        a[mat-list-item].active {
            background-color: mat-color($accent, lighter);
            color: #fff;
            &:hover,
            &:focus {
                background-color: mat-color($accent, lighter);
            }
        }
        .mat-stroked-button.stroke-white:not([disabled]) {
            border-color: #fff;
        }
    }
}