.sidenav-container {
    height: 100%;
    .sidenav {
        width: 200px;
        border-right: none;
        .mat-nav-list {
            padding-top: 0;
        }
        .sidenav-accordion {
            .mat-expansion-panel {
                border-radius: 0;
                box-shadow: none;
            }
        }
    }
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.content-page-header {
    display: flex;
    align-items: center;
    h1 {
        font-weight: 300;
        margin: 0;
        padding: 8px 16px;
        font-size: 20px;
        color: #fff;
    }
}