<div class="container h-100">
  <div class="row justify-content-center h-75 align-items-center">
    <div class="col-12 col-sm-12 col-md-4 mb-5 pb-5">
      <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card" [ngClass]="routeAnimationsElements">
          <mat-card-header>
            <mat-card-title>Login to Get Started</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <div color="accent" class="alert" role="alert">
                  Username: test<br>
                  Password: test
                </div>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="User ID / Email" formControlName="username">
                  <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                    User ID / Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Password" formControlName="password">
                  <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="primary" type="submit">
              <span>Submit</span>
              <span *ngIf="loading">...</span>
              <mat-spinner [diameter]="24" *ngIf="loading" color="white" class="ml-2 d-inline-block"></mat-spinner>
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>